<div class="col-sm-5">
  <address>
    <strong>ЮРИЙ СОЛОВЬЕВ</strong><br>
    <abbr title="Mobile">М</abbr> +7 (921) 772 79 75<br>
    <a href="mailto:#">urasol@mail.ru</a><br>
    <img src="http://static.wixstatic.com/media/a76659a6c8524bd0b7d362fa91160498.png_srz_p_22_22_75_22_0.50_1.20_0.00_png_srz"/> <a href="https://vk.com/urasoloviov" target="_blank">https://vk.com/urasoloviov</a><br>
    <img src="http://static.wixstatic.com/media/15501a32e0b449b48fa639fd8e6935aa.png_srz_p_22_22_75_22_0.50_1.20_0.00_png_srz"/> <a href="http://instagram.com/Urasol" target="_blank">http://instagram.com/Urasol</a><br>
    <br>
    <strong>Студия Объект</strong><br>
    Санкт-Петербург, Россия<br>
    191040, наб. Обводного Канала, 134-136
  </address>
  <!-- Do not change the code! -->
  <a id="foxyform_embed_link_21497" href="http://ru.foxyform.com/">foxyform</a>
  <script type="text/javascript">
  (function(d, t){
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.src = "http://ru.foxyform.com/js.php?id=21497&sec_hash=516ef313886&width=350px";
     s.parentNode.insertBefore(g, s);
  }(document, "script"));
  </script>
  <!-- Do not change the code! -->
</div>
