<div class="container">
  <div class="row">
   <div class="col-xs-8 col-sm-offset-2 col-sm-4">
    <p class="font_9"><span class="color_16">@ 2015 «AVV-production»</span></p>
   </div>

   <div class="col-xs-4 col-sm-offset-3 col-sm-3">
     {{>social_media}}
   </div>
  </div>
</div>
