{{#social_media}}
<div style="width:17px;height:17px;margin-bottom:0;margin-right:4px;display:inline-block;">
  <a href="{{href}}" target="_blank">
    <div style="width:17px;height:17px;position:absolute;" >
      <img alt="" style="width:17px;height:17px;object-fit:cover;" src="{{src}}">
    </div>
  </a>
</div>
{{/social_media}}
